@import url('https://fonts.googleapis.com/css?family=Anton|Cantarell');
body {
    background-image: url("img/parquet.jpg");
    padding: 30px;

}

h1 {
    font-size: 250px;
    font-family: Anton,sans-serif;
    color: white;
    background: linear-gradient(90deg, #042b47, #660c26);
    margin: 0;
    text-align: center;


}

h2{
    font-family: Anton,sans-serif;
    margin: 0;
}

li {
    font-family: Cantarell,sans-serif;
    list-style-type: upper-roman;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;

   }
ol{
    background-color: rgba(255,255,255,.5);
    margin: 0;
    padding-bottom: 50px;

}


section:first-of-type>h2 {
    color: #042b47;
    font-size: 100px;

    margin: 0;
    text-align: right;
    margin-right: 20px;

}
section:nth-of-type(2)>h2 {
    color: #660c26;
    font-size: 100px;
    margin-left: 20px;

}
section:first-of-type>p {
    background-color: #042b47;
    font-size: 25px;
    margin-left: 50%;
    margin-right: 20px;

}
p {
    font-family: Cantarell,sans-serif;
    text-align: center;
    color: white;
    margin: 0;
}
section:nth-of-type(2)>p {
    background-color: #660c26;
    font-size: 25px;
    margin-right: 50%;
    margin-left: 20px;

}
section:first-of-type {
    background-color: #e8a2b6;
    text-align: right;
    background-image: url("img/curry.png");
    background-repeat: no-repeat;
}
section:nth-of-type(2) {
    background-color: #b0d8f5;
    background-image: url("img/lebron.png");
    background-repeat: no-repeat;
    background-position: right;

}

#ol {
    margin-left: 50%;
    margin-right: 20px;
}

li:first-of-type {
    font-weight: bold;
}
#ol2 {
    margin-right: 50%;
    margin-left: 20px;
}

strong {
    border: 2px dotted #2c6624;
    color: #2c6624;
    padding: 3px;
    font-size: 20px;
}
